---
import Layout from '../layouts/Layout.astro'
import { Navbar } from '../components/Navbar.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton.jsx'
---

<Layout title="About E&R Unlimited | Expert Garment Embellishment in LA" Description="E&R Unlimited - premium embroidery, screen printing, DTG, digital sublimation, heat transfer, cut&sew, fabric printing. Trusted by top brands.">
  <Navbar client:load />
<div class="container mx-auto p-4">
   <section class="block-container">
    <div class="image-text-container">
  <figure class="image-wrapper">
    <img
      src="/about-e-and-r-unlimited.webp"
      alt="Custom Embroidery on Denim Services"
      width="500"
      height="500"
    />
    <figcaption>Custom Screen Printing Services</figcaption>
  </figure>
  <div class="text-content">
     <h1>Welcome to E&R Unlimited, where everything is truly unlimited.

</h1>
  
  <p>We are a family owed company that has been in the fashion production business for over 30+ years. We pride ourself on quality, attention to detail, and innovation.
We are a one stop shop for all your fashion and merch needs, working with major fashion brands, corporate companies and small brands- we can help you all. 
</p>
<p>Here we offer an array of services such as cut&sew, full package, sourcing blanks and embellishments such as embroidery, custom patches, screenprinting, DTG, Heat transfers, Laser cutting, emboss/debossing, flocking, PVC patches, and chenille patches, just to name a few.
</p>

<p>We also offer on site embroidery/ Heat Press events! 
</p>

<p>We are appointment based, please email us your tech pack or artwork to schedule an appointment today.</p>

<p>Based in Veron, right outside of the DTLA Arts District, we are in the heart of all your fashion needs.
Call or email us today, so we can help you get your project started off right!</p>
<!--<p>Privacy Terms<p>

<p>“No Mobile information will be shared with third parties/affiliates for marketing/promotional purposes. All the above categories exclude text messaging originator opt-in data and consent; this information will not be shared with any third parties.</p>-->
  </div></div>
</section>
</div>
  <Footer />
  <ScrollUpButton client:load />
</Layout>
