---
import Layout from '../layouts/Layout.astro'
import { Navbar } from '../components/Navbar.jsx'
import { HeaderDtg } from '../components/HeaderDtg.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton.jsx'
---

<Layout title="Direct to Garment (DTG) & Screen Printing Services in LA" Description="High-quality DTG printing with fast turnaround. We offer plastisol, water-based inks, foils, glitter, & more for vibrant, durable prints. Call today!">
  <Navbar client:load />
   <HeaderDtg client:load />
 <div class="container mx-auto p-4">
   <section class="block-container">

    <div class="image-text-container">
  <figure class="image-wrapper">
    <img
      src="/dtg/los-angeles-dtg-direct-to-garment-printing-the-weekend-denim-jacket-we-overdose.webp"
      alt="Custom Embroidery on Denim Services"
      width="500"
      height="500"
    />
    <figcaption>Custom Screen Printing Services</figcaption>
  </figure>
  <div class="text-content">
     <h2>Why Choose Us?</h2>
        <ul>
            <li class="mb-2">✔ <i>Fast Turnaround Times</i> – Quick sample printing and production</li>
            <li class="mb-2">✔ <i>High-Quality, Photorealistic Prints</i> – Our advanced DTG printers capture every detail, color gradient, and intricate design with superior precision. Get sharp, full-color prints that won’t fade or crack over time.</li>
            <li class="mb-2">✔ <i>Soft & Comfortable Feel</i> – Our eco-friendly, water-based inks infuse directly into the fabric, ensuring a smooth and breathable finish—no heavy or rubbery textures.</li>
            <li class="mb-2">✔ <i>Unlimited Color Options</i> – With DTG printing, there are no limits to your creativity. Print complex designs, full-color artwork, and gradients effortlessly.</li>
        </ul>
  </div></div>
</section>
<section class="block-container">
  
<!-- Image Floated Right -->
<div class="image-text-container">
  <figure class="image-wrapper-right">
    <img
      src="/dtg/dtla-los-angeles-custom-adaptation-clothing-denim-jacket-fashion-digital-printing.webp"
      alt="Custom Screen Printing Services"
      width="500"
      height="500"
    />
    <figcaption>Custom Screen Printing Services</figcaption>
  </figure>
  
  <div class="text-content">
  <h2>Comprehensive Embroidery Solutions</h2>
 
  <p class="text-center">Our DTG printing services are perfect for:</p>
       <ul class="text-center">
        <li class="mb-2">High-end fashion brands seeking premium DTG printing</li>
        <li class="mb-2">Custom denim jackets and streetwear apparel</li>
            <li class="mb-2">Custom t-shirts for personal use</li>
            <li class="mb-2">Unique patches for hats, bags, and accessories</li>
            <li class="mb-2">Small business branding and promotional apparel</li>
            <li class="mb-2">Event merchandise and giveaways</li>
            <li class="mb-2">Custom gifts and one-of-a-kind apparel</li>
        </ul>
  </div>
</div>
</section>

<div class="image-text-container">
  <h2>Get a Quote Today!</h2>
  <p class="text-center m-10">Whether you need a single custom t-shirt or a bulk order for your business, our DTG printing services ensure fast, high-quality, and affordable solutions. Call us now for details or to get a free quote!</p>
</div>
  <Footer />
  <ScrollUpButton client:load />
</Layout>